@model IEnumerable<InForno.Models.ListaPizze>

@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>


@foreach (var item in Model)
{
   <div class="card" style="width: 18rem;">
       <img src="~/Content/img/@item.Foto"  class="card-img-top" alt="Pizza">
       <div class="card-body">
           <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
           <p class="card-text">@Html.DisplayFor(modelItem => item.Descrizione)</p>
           <p>@Html.DisplayFor(modelItem => item.Prezzo)$</p>
           <button>@Html.ActionLink("Scopri di più", "Details", new { id = item.IDPizze })</button>
       </div>
   </div>
}

